.blog {
   border: 1px solid white;
   width: 950px;
   margin: 0 auto;

   &__search {
      display: flex;
      justify-content: space-between;
      margin-top: 100px;

      &_posts {
         font-size: 14px;
         margin-top: 11px;
      }

      &_google {
         width: 15px;
         margin-right: 20px;

         &_icon {
            width: 15px;
            transform: translateX(40px);

            &_closed {
               transform: translateX(240px);
            }
         }
      }

      &_input {
         padding: 10px 30px;
         border-bottom: 1px solid rgb(50, 50, 50);
         transition: 0.3s;

         &::placeholder {
            color: rgb(129, 129, 129);
         }

         &_closed {
            opacity: 0;
            visibility: hidden;
         }
      }

      &_close-button {
         color: rgb(50, 50, 50);
         font-size: 25px;
         transform: translate(-25px, 5px) rotate(45deg);
         background: transparent;
         cursor: pointer;

         &_closed {
            opacity: 0;
            visibility: hidden;
         }
      }
   }

   &__post_wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &_post {
         margin-top: 30px;
         width: 460px;
         height: 620px;
         border: 1px solid rgb(230, 230, 230);

         &:nth-child(even) {
            margin-top: -290px;
         }

         &:nth-child(3),
         &:nth-child(4),
         &:nth-child(5) {
            height: 580px;
         }

         &:nth-child(2) {
            margin: 30px 0 30px 0;
            height: 320px;
         }

         &:nth-child(5) {
            height: 620px;
         }

         &:nth-child(6) {
            height: 610px;
         }

         &:nth-child(4),
         &:nth-child(6) {
            margin-top: -270px;
         }

         .post__image {
            width: 100%;
            cursor: pointer;
         }

         .post__content {
            padding: 20px 25px;

            &_user {
               display: flex;
               align-items: center;

               &_illustration {
                  width: 40px;
                  height: 40px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: #008f64;
                  color: white;
                  border-radius: 100px;
                  font-size: 22px;
               }

               &_info {
                  display: flex;
                  flex-direction: column;
                  margin-left: 8px;
                  cursor: pointer;

                  &_block {
                     width: 200px;
                     height: 50px;
                     background: white;
                     display: flex;
                     align-items: center;
                     position: absolute;
                     transform: translate(130px, -40px);
                     padding-left: 20px;
                     box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.205);
                     cursor: pointer;

                     &_image {
                        width: 15px;
                     }

                     &_text {
                        margin-left: 10px;
                        font-size: 14px;
                     }

                     &_active {
                        opacity: 0;
                        visibility: hidden;
                     }
                  }

                  &_name {
                     color: black;
                     font-size: 13px;
                     line-height: 20px;

                     &:hover {
                        color: rgb(166, 130, 74);
                     }

                     &_crown {
                        width: 13px;
                        height: 10px;
                     }

                  }

                  &_date {
                     color: grey;
                     font-size: 12px;
                     line-height: 18px;

                     &_pointer {
                        font-weight: bold;
                        color: rgb(50, 50, 50);
                     }
                  }

                  &_share {
                     position: absolute;
                     font-size: 25px;
                     font-weight: bold;
                     letter-spacing: -1px;
                     transform: translate(350px, 5px) rotate(90deg);

                     &:hover {
                        color: rgb(166, 130, 74);
                     }
                  }
               }
            }

            &_text {
               cursor: pointer;

               &:hover {

                  .post__content_text_heading,
                  .post__content_text_description {
                     color: rgb(166, 130, 74);
                  }
               }

               &_heading {
                  margin-top: 25px;
               }

               &_description {
                  margin-top: 10px;
                  line-height: 24px;
                  width: 400px;
                  color: rgb(97, 97, 97);
                  padding-bottom: 20px;
                  border-bottom: 1px solid rgb(220, 220, 220);
               }
            }

            &_bottom {
               display: flex;
               justify-content: space-between;
               padding-top: 15px;

               &_stats {
                  display: flex;
                  align-items: center;
                  font-display: row;
                  font-size: 12px;
                  line-height: 18px;

                  &_comments {
                     margin-left: 10px;
                  }
               }

               &_likes {
                  display: flex;
                  flex-direction: row;
                  align-items: center;

                  &_number {
                     padding: 3px 1px 0 0;
                  }

                  &_heart {
                     width: 20px;
                     cursor: pointer;
                     padding-left: 2px;

                     &_svg {
                        stroke-width: 8px;
                        fill: white;
                        stroke: crimson;
                        transform: scale(0.15) translateY(20px);
                     }
                  }

                  &_number {
                     margin-top: -4px;
                     font-size: 12px;
                     margin-right: 3px;
                     user-select: none;
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width:426px) {
   .blog {
      width: 100%;
      overflow-x: hidden;

      &__search {
         // background: rgb(166, 130, 74);
         height: 60px;
         display: flex;
         align-items: center;
         padding-bottom: 5px;

         &_posts {
            margin-left: 7%;
         }

         &_input {
            border-radius: 0px;
            border-bottom: 1px solid rgb(50, 50, 50);
         }

         &_close-button {
            font-size: 30px;
         }
      }

      &__post_wrapper {
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;

         &_post {
            border: none;

            &:nth-child(1) {
               height: 590px;
               margin-top: 20px;
            }

            &:nth-child(3) {
               height: 560px;
               margin-top: -10px;
            }

            &:nth-child(2) {
               height: 350px;
               margin-top: -10px;
            }

            &:nth-child(5) {
               margin: 30px 0 0 0;
            }

            &:nth-child(6) {
               margin: 30px 0 30px 0;
            }

            &:nth-child(4),
            &:nth-child(6) {
               margin-top: 20px;
            }

            &:nth-child(5),
            &:nth-child(6) {
               height: 585px;
            }

            .post__content {

               &_text {
                  &_description {
                     width: 100%;
                     border: none;
                  }
               }

               &_user {
                  &_info {
                     &_share {
                        transform: translate(265px, 1px) rotate(90deg);
                     }

                     &_block {
                        transform: translate(0, 0);
                     }
                  }
               }

               &_bottom {
                  border-bottom: 1px solid rgb(220, 220, 220);
                  padding-bottom: 20px;

                  &_likes_heart {
                     width: 30px;
                     padding-left: 5px;
                  }
               }
            }
         }
      }
   }
}